<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">DevMeet</a>
  <div class="float-right">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link') %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class: 'btn btn-link nav-link')  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
